PORT=3000
NODE_ENV=development
DB_PATH=./database/masjid.db

CLERK_PUBLISHABLE_KEY=your_publishable_key_here
CLERK_SECRET_KEY=your_secret_key_here
CLERK_FRONTEND_API_URL=your_frontend_api_url_here
